<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto-Complete Document</title>
  <link rel="stylesheet" href= "./static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <center><h1>Mark-Img To CSV</h1></center>
  <form action="/upload"  id="form" method="post" enctype="multipart/form-data">
    <input class="suggestions" type="file" name="file" id="file" />
    <button type="submit">get Marks</button>
  </form>
  <div class="Input" id="disp"></div> 
  
</body>
<script src="./static/js/script.js"></script>
</html>